  .name {
    color: red;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font:18;
   
  }

  .name:hover  { 
     text-shadow: 1px 2px 2px black;
  }

  .speech {
    color: black;
    font-family: sans-serif;
    font:14;
  }

  .song {
    color: black;
    font-family: 'Courier New';
    font:16;
  }

  .directions {
    color: rgb(8, 8, 8);
    background-color: yellow;
    font-family: 'monospace';
    font:18;
  }

  .directions:hover  {
    background-color: #1b2e41;
    font-family:  'monospace';
    color: whitesmoke;
    font:18;
  }

  .ALEX{
    color: lightcoral;
    font-family: Helvetica;
  }

  .ALEX:hover  { 
    text-shadow: 1px 2px 2px black;
 }

.ALINE{
  color: red;
  font-family: 'Arial Narrow Bold';
}


.WELLS{
  color: orange;
  font-family: 'Lucida Sans Regular';
 
}

.ALEXIS{
  color: tan;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.SIR M{
  color: orchid;
  font-family: serif;
}

.ALL{
  color: skyblue;
  font-family: Arial;
  font:12
}


.MEN{
  color: navy;
  font-family: monospace;
  font:12
}


.GIRLS{
  color: pink;
  font-family: Geneva;
  font:12
}


.CHORUS{
  color: green;
  font-family:  Courier;
  font:12
}

td,th,table{
color:black;
border: solid 1px darkslateblue;
border-collapse:seperate;
text-align:left;
padding-top: 4px;
padding-bottom: 4px;
padding-left: 4px;
padding-right: 4px;
}

tr:nth-child(even) {
  background-color: lightgrey;
}

